<% layout('/layouts/boilerplate.ejs') -%>

<body>
  <div class="row g-4">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h3 class="text-center mb-4">Edit your listing</h3>

      <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" class="form-control" required>
          <div class="invalid-feedback">Please enter a listing title</div>
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" id="description" rows="3" class="form-control" required><%= listing.description %></textarea>
          <div class="invalid-feedback">Please provide a short description of your place</div>
        </div>
        <div class="col-md-12">
          <label class="form-label">Original Listing Image</label>
          <div>
            <img src="<%= originalImageUrl %>" class="img-fluid rounded">
          </div>
        </div>
        <div class="col-md-8">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" id="image"  class="form-control">
        </div>
        <div class="col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="text" name="listing[price]" id="price" value="<%= listing.price %>" min="0" class="form-control" required>
          <div class="invalid-feedback">Please enter a price per night</div>
        </div>
        <div class="col-md-7">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" id=location value="<%= listing.location %>" placeholder="e.g., Chapainawabganj, Rajshahi" class="form-control" required>
          <div class="invalid-feedback">Please enter a city or area</div>
        </div>
        <div class="col-md-5">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" placeholder="e.g., Bangladesh" class="form-control" required>
          <div class="invalid-feedback">Please enter a country</div>
        </div>

        <button class="btn btn-primary btn-md mt-4 mb-4">Update Listing</button>
      </form>
    </div>
  </div>
  </form>
</body>